* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

body {
    margin-inline: 10vw;
    margin-top: 5vh;
    color: #788eff;
}

#app {
    display: flex;
}

#header {
    padding-bottom: 20px;
}

#paint-area {
    border: 8px solid #788eff;
    height: 70vh;
    width: 60vw;
}

.toolbar {
    height: 70vh;
    width: 20vw;
    background-color: #788eff;
    color: "#ffffff";
    padding: 30px;
    position: relative;
}

.tool-category {
    color: #ffffff;
    margin-bottom: 20px;
}

.options {
    list-style: none;
    padding-top: 15px;
}

.title {
    font-weight: bolder;
    font-size: larger;
}

.option {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.color-select {
    padding-bottom: 10px;
    border: none;
}

.option :where(span, label) {
    cursor: pointer;
    padding-left: 10px;
}

.toolbar button {
    background-color: #ffffff;
    color: #788eff;
    padding: 8px;
    border: none
}

.tool {
    padding-bottom: 20px;
}

img {
    filter: brightness(0) invert(1);
}

button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
}

#button-save{
    background-color: #ffffff;
    color: #788eff;
    transition: all 0.3s ease;
    border: 3px solid white;
}

#button-save:hover{
    background-color: #788eff;
    color: #ffffff;
}

#button-clear{
    background: #788eff;
    border: 3px solid white;
    color: white;
    font-weight: 100;
    transition: all 0.3s ease;
}

#button-clear:hover {
    border: 3px solid #788eff;
}

