* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

body {
    margin-inline: 10vw;
    margin-top: 5vh;
    color: #788eff;
}

#app {
    display: flex;
}

#header {
    padding-bottom: 20px;
}

.row {
    color: #ffffff;
}

#paint-area {
    border: 8px solid #788eff;
    height: 70vh;
    width: 60vw;
}

.toolbar {
    height: 70vh;
    width: 20vw;
    background-color: #788eff;
    color: "#ffffff";
    padding: 30px;
    position: relative;
}

.toolbar button {
    background-color: #ffffff;
    color: #788eff;
    padding: 8px;
    border: none
}
.toolbar h5 {
    margin-bottom: 5px;
    color: #ffffff;
}

.tool {
    padding-bottom: 20px;
}

#button-container {
    padding-top: 20px;
}

#button-container button {
    color: #ffffff;
    background-color: #788eff;
    padding: 8px;
    margin-inline-end: 20px;
    border: none
}

#option-buttons {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

